<div class="form-group detail-box">
    <div class="field__label">
        <h3>Description</h3>
    </div>
    {% if multiple %}
        <div class="field__items">
        {% endif %}
        {% for item in items %}
            <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
        {% endfor %}
        {% if multiple %}
        </div>
    {% endif %}
</div>