
{#
/**
 * @file
 * Theme override to display a two-column layout.
 * Node content frontend
 * 
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% if content %}
    <div{{ attributes }} >
        <div class="container-fluid">
            <div class="row-fluid">
                
                {% if content.first %}
                    {{ content.first }}
                {% endif %}
            </div>    
            <div class="row-fluid">    
                {% if content.second %}
                    {{ content.second }}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
